@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-bg-primary: #1890FF;
    --color-bg-secondary: #FFFFFF;
    --color-bg-tertiary: #E6F7FF;

    --color-font-primary: #1890F;
    --color-font-secondary: #FFF;
    --color-font-tertiary: #262626;
    --color-font-quaternary: #7E7E7E;
    --color-font: #737373;

    --color-font-placeholder: #D9D9D9;
    --color-font-card: #5C5858;

    --color-border: #D9D9D9;

    --color-card-info: #F5F5F5;
    --color-card-card: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background-color: var(--color-bg-secondary);
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

/*------------------------------------------------*/
/* generic styles */

.mt54 {
    margin-top: 54px;
}

.pt54 {
    padding-top: 54px;
}

/*------------------------------------------------*/
/* header styles */

header {
    height: 62px;
    padding: 0 41px;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-primary);
    color: var(--color-font-secondary);
}

nav h2 {
    font-weight: 500;
    font-size: 24px;
}

/*--------------------------------------------------------------*/
/* button styles */

.btn {
    width: 101px;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--color-bg-primary);
    color: var(--color-font-secondary);
}

/*--------------------------------------------------------------*/
/* card styles */

.card {
    max-width: 1251px;
    border-radius: 16px;
    height: 270px;
    background-color: var(--color-bg-tertiary);
}

.card-container {
    margin-left: 90px;
    padding-left: 31px;
    display: flex;
    flex-direction: column;
}

